/* FORMULARIO DE CONTACTO */

form {
    margin-top: 40px;
  }
  
  label {
    display: block;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
  }
  
  input [type=text], textarea {
    display: block;
    width: 70%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .btnFormulario {
    background-color: $color-botones-sec;
    color: $color;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
  }
  