/* IFRAME */

.comoLlegar {
    display: block;
    margin-top: 25px;
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
  }
  
  iframe {
    display: block;
    margin: 20px;
  }
  